.active {
    color: #fff;
    background-color: rgb(148, 133, 187);
}
.leftbarComponent {
    gap: 70px;
    width: 100%;
    display: grid;
    padding-top: 25px;
}

.leftbarComponent .brend {
    width: 100%;
    text-align: center;
}

.leftbarComponent .brend h1 a {
    text-decoration: none;
}

.leftbarComponent .option {
    gap: 40px;
    width: 100%;
    display: grid;
}

.leftbarComponent .option div {
    gap: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 20% 15px 20%;
}

.leftbarComponent .new {
    top: 0;
    right: 0;
    width: 10px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: red;
}

.leftbarComponent .option div:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgb(148, 133, 187);
}

.leftbarComponent .logout {
    width: 100%;
    padding: 5px;
}

.leftbarComponent .logout button {
    gap: 5px;
    width: 95%;
    display: flex;
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
}

.leftbarComponent .logout button:hover {
    color: white;
    cursor: pointer;
    background-color: red;
}
