.notifsComponent {
    display: grid;
    grid-template-columns: 0.22fr 1fr .3fr;
    grid-template-areas: 'left-bar navbar-posts right-bar'
                         'left-bar navbar-posts right-bar';
}

.left-bar {
    grid-area: left-bar;
}

.navbar-posts {
    padding-bottom: 10px;
    grid-area: navbar-posts;
    background-color: rgb(237, 237, 237);
}

.right-bar {
    grid-area: right-bar;
}

@media (max-width: 769px) {
    .navbar-posts {
        gap: 10px;
        width: 100%;
        display: grid;
        font-size: 90%;
        overflow-x: hidden;
    }
    .navbar-posts .notifComponent {
        gap: 20px;
        padding-right: 5%;
    }
    .navbar-posts .notifComponent .filter {
        gap: 5%;
    }
}